# --- LLM API KEYS
COHERE_API_KEY="tu_clave_de_cohere_aqui"
GEMINI_API_KEY="tu_clave_de_gemini_aqui"

# --- OCI
OCI_USER_OCID="tu_usuario_ocid_aqui"
OCI_TENANCY_OCID="tu_tenancy_ocid_aqui"
OCI_FINGERPRINT="tu_fingerprint_aqui"
OCI_REGION="tu_region_aqui"
OCI_PRIVATE_KEY="tu_private_key_aqui"
OCI_NAMESPACE="tu_namespace_aqui"
OCI_BUCKET="tu_bucket_aqui"

# Configuracion de RED
API_GATEWAY_PORT=8000
FRONTEND_PORT=7860
